<div class="row">
  <h1>All our Flats</h1>
</div>

<div class="row">

</div>

<div class="row">
  <% @Flats.each do |flat| %>
    <div class="col-4">

    </div>

    <%= flat.name %>
  <% end %>
</div>
